@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=Martian+Mono:wght@200&family=Merriweather:wght@300&family=Montserrat&family=Montserrat+Alternates:wght@300&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,600;6..12,700&family=Nunito:ital,wght@0,300;0,400;0,700;1,400&family=Poppins:wght@300;400;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100&family=Rubik&family=Ubuntu:wght@300&display=swap');

body
{
  font-family: 'Ubuntu', sans-serif;
  background-color: #000000;
  overflow-x: hidden;
}
*
{
  margin: 0;
  padding: 0;
}
